.event-container {
  height: 100vh;
  width: 100%;
  max-height: 600px;
  max-width: 1200px;
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 중앙 정렬 */
  padding: 20px 80px;
  color: black;
  background-color: white;
  overflow: hidden; /* 컨테이너를 벗어나는 이미지 숨기기 */
  box-sizing: border-box;
  border-radius: 30px 30px 0 0; /* 상단 모서리에만 라운드 추가 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 카드처럼 올라온 느낌의 그림자 */
  padding: 20px;
}

.events-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* 중앙 정렬 */
}

.events-title {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 60px;
  margin: 20px 0 0 0;
  font-weight: bold;
  text-align: center; /* 중앙 정렬 */
}

.events-subtitle {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 35px;
  margin: 0 0 60px 0;
}

.events-slider {
  width: 100%;
  overflow: hidden; /* 슬라이더를 벗어나는 이미지 숨기기 */
}

.events-slider .slick-slide {
  display: flex !important;
  justify-content: center; /* 슬라이더 아이템 중앙 정렬 */
  align-items: center; /* 슬라이더 아이템 중앙 정렬 */
  padding: 0 10px; /* 이미지 간의 간격 설정 */
}

.event-image {
  width: 100%; /* 이미지 전체 너비 설정 */
  height: 100%; /* 이미지 전체 높이 설정 */
  max-height: 400px; /* 이미지 최대 높이 설정 */
  object-fit: cover;
  border-radius: 10px;
}

/* 애니메이션 정의 */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 기본 상태 */
.fade-up {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* 화면에 보이면 애니메이션 적용 */
.fade-up.show {
  animation: fadeInUp 0.6s ease-out forwards;
}

@media (max-width: 768px) {
  .event-container {
    flex-direction: column;
    padding: 10px;
  }

  .events-title {
    font-size: 30px;
  }

  .event-image {
    max-height: 200px;
  }
}
