.event-container {
  background: #282c34;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px 80px;
  box-sizing: border-box;
}

.text-container {
  flex: 1;
  padding: 20px;
  text-align: left; /* 텍스트 왼쪽 정렬 */
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.app-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* 이미지 모서리를 둥글게 */
}