.event-container {
  background: #000000;
  height: 100vh; /* 뷰포트 전체 높이 */
  width: 100%;
  max-height: 600px;
  max-width: 1200px;
  position: relative; /* 자식 요소의 절대 위치를 위한 부모 설정 */
  color: white;
  padding: 20px 80px;
  box-sizing: border-box;
}

.text-top-left {
  position: absolute;
  top: 50px;
  max-width: 60%; /* 텍스트 최대 너비 설정 */
  text-align: left;
}

.image-bottom-left {
  position: absolute;
  bottom: -220px;
  left: -100px;
  width: 600px;
  max-width: 70%; /* 이미지 최대 너비 설정 */
  opacity: 50%;
}

.image-top-right {
  position: absolute;
  top: 20px;
  right: -40px;
  width: 400px;
  max-width: 40%; /* 이미지 최대 너비 설정 */
}

.text-bottom-left {
  position: absolute;
  bottom: 50px;
  max-width: 70%; /* 텍스트 최대 너비 설정 */
  color: white;
  text-align: left;
}

.event-image {
  width: 100%;
  height: auto;
  border-radius: 10px; /* 이미지 모서리를 둥글게 */
}

.title {
  font-size: 35px; /* 제목 폰트 크기 */
  font-family: 'Noto Sans KR', sans-serif; /* Noto Sans KR 폰트 적용 */
}

.highlight-large {
  font-size: 60px; /* 글씨 크기 증가 */
  font-family: 'Noto Sans KR', sans-serif; /* Noto Sans KR 폰트 적용 */
}

.highlight {
  color: #c1ff72;
}

.bold {
  font-weight: bold;
}
