.how-to-use-container {
  background: #d1d1d1;
  height: 100%;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .how-to-use-container {
    padding: 20px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }
}