.NavBar {
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  height: 110px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent; /* NavBar 배경을 투명하게 설정 */
  color: #ffffff;
  z-index: 1000; /* NavBar를 최상단에 배치 */
}

.NavBar-container { 
  display: flex;
  align-items: center;
  justify-content: space-between; /* 로고와 아이템을 양 끝으로 배치 */
  padding: 35px 80px; /* 패딩 값을 줄여서 너비 조정 */
}

.NavBar-catchb {
  height: 20px;
}

.NavBar-items {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* 아이템을 오른쪽으로 정렬 */
  width: auto;
  gap: 40px;
}

.NavBar-item {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  font-size: 15px; /* 폰트 크기 증가 */
  font-weight: 300; /* 약간의 Bold 추가 */
  padding: 10px 0; /* 패딩 추가 */
  border-radius: 5px; /* 라운드 효과 추가 */
  transition: background-color 0.3s;
}

.NavBar-item:hover {
  color: #d9d9d9;
}
