.NavBar {
  position: absolute; /* absolute로 변경하여 Header 위에 배치 */
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent; /* NavBar 배경을 투명하게 설정 */
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between; /* 로고와 아이템을 양 끝으로 배치 */
  padding: 25px 80px; /* 패딩 값을 줄여서 너비 조정 */
  z-index: 1000; /* NavBar를 최상단에 배치 */
}

.NavBar-catchb {
  height: 20px; /* 기존 50px에서 60px로 크기 증가 */
}

.NavBar-items {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* 아이템을 오른쪽으로 정렬 */
  width: auto;
}

.NavBar-item {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px; /* 폰트 크기 증가 */
  font-weight: 300; /* 약간의 Bold 추가 */
  padding: 30px 25px; /* 패딩 추가 */
  border-radius: 5px; /* 라운드 효과 추가 */
  transition: background-color 0.3s;
}

.NavBar-item:hover {
  color: #d9d9d9;
}
