.pre-order-container {
  height: 100vh;
  width: 100%;
  max-height: 600px;
  max-width: 1200px;
  background: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  overflow: hidden;
  position: relative;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: white;
  }
}

.typing {
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #fff;
  animation: typing var(--typing-duration) steps(var(--steps)) 1s 1 normal both, blink 0.75s step-end infinite;
  display: inline-block;
}

.typing.finished {
  width: fit-content;
  animation: blink 0.75s step-end infinite;
}

.fade-text {
  font-size: 36px;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.2;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.logo-large {
  width: 600px;
  height: auto;
}

.pre-order-download-button {
  font-size: 16px;
  padding: 20px 70px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  position: absolute;
  bottom: 50px;
  z-index: 3;
}

.pre-order-download-button:hover {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
}

@media (max-width: 768px) {
  .pre-order-container {
    padding: 20px;
  }

  .fade-text {
    font-size: 24px;
  }

  .logo-large {
    width: 150px;
  }

  .pre-order-download-button {
    font-size: 12px;
    padding: 6px 30px;
  }
}
