.App {
  text-align: center;
  background-color: #000C06;
}

.Section {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (max-width: 768px) {
  .Section {
    padding: 10px;
  }
}